<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Japanese</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>DVIDocument</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-dvi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DVI document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DVI2</string>
				<string>JDVI</string>
				<string>*DVI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>TeXBridge</string>
	<key>CFBundleVersion</key>
	<string>38</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2003-2013, Tetsuro KURITA</string>
	<key>CFBundleGetInfoString</key>
	<string>3.5.1 copyright 2003-2013, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>TeXBridgeHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>TeX Tools for mi ヘルプ</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>CFBundleIconFile</key>
	<string>TeXBridge</string>
	<key>CFBundleIdentifier</key>
	<string>TeXBridge</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TeXBridge</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>TeXB</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>TeXBridge</string>
	<key>DonationURL</key>
	<string>http://www.script-factory.net/donationproxy.html</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
