<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Arrows</key>
	<dict>
		<key>--&gt;</key>
		<string>longrightarrow</string>
		<key>-&gt;</key>
		<string>rightarrow</string>
		<key>&lt;-</key>
		<string>leftarrow</string>
		<key>&lt;--</key>
		<string>lognleftarrow</string>
		<key>&lt;--&gt;</key>
		<string>lognleftrightarrow</string>
		<key>&lt;-&gt;</key>
		<string>leftrightarrow</string>
		<key>&lt;=</key>
		<string>Leftarrow</string>
		<key>&lt;=&gt;</key>
		<string>Leftrightarrow</string>
		<key>=&gt;</key>
		<string>Rightarrow</string>
		<key>←</key>
		<string>leftarrow</string>
		<key>→</key>
		<string>rightarrow</string>
	</dict>
	<key>Greek</key>
	<dict>
		<key>D</key>
		<string>Delta</string>
		<key>F</key>
		<string>Phi</string>
		<key>G</key>
		<string>Gamma</string>
		<key>L</key>
		<string>Lambda</string>
		<key>P</key>
		<string>Pi</string>
		<key>Q</key>
		<string>Theta</string>
		<key>S</key>
		<string>Sigma</string>
		<key>W</key>
		<string>Omega</string>
		<key>Y</key>
		<string>Psi</string>
		<key>a</key>
		<string>alpha</string>
		<key>b</key>
		<string>beta</string>
		<key>c</key>
		<string>chi</string>
		<key>d</key>
		<string>delta</string>
		<key>e</key>
		<string>varepsilon</string>
		<key>f</key>
		<string>phi</string>
		<key>g</key>
		<string>gamma</string>
		<key>h</key>
		<string>eta</string>
		<key>j</key>
		<string>psi</string>
		<key>k</key>
		<string>kappa</string>
		<key>l</key>
		<string>lambda</string>
		<key>m</key>
		<string>mu</string>
		<key>n</key>
		<string>nu</string>
		<key>p</key>
		<string>pi</string>
		<key>q</key>
		<string>theta</string>
		<key>r</key>
		<string>rho</string>
		<key>s</key>
		<string>sigma</string>
		<key>t</key>
		<string>tau</string>
		<key>w</key>
		<string>omega</string>
		<key>x</key>
		<string>xi</string>
		<key>y</key>
		<string>psi</string>
		<key>z</key>
		<string>zeta</string>
		<key>Γ</key>
		<string>Gamma</string>
		<key>γ</key>
		<string>gamma</string>
		<key>λ</key>
		<string>lambda</string>
	</dict>
	<key>MathCharacters</key>
	<dict>
		<key>+-</key>
		<string>pm</string>
		<key>-+</key>
		<string>mp</string>
		<key>.</key>
		<string>cdot</string>
		<key>...</key>
		<string>cdots</string>
		<key>//</key>
		<string>parallel</string>
		<key>/=</key>
		<string>neq</string>
		<key>&lt;&lt;</key>
		<string>ll</string>
		<key>&lt;_</key>
		<string>leq</string>
		<key>==</key>
		<string>equiv</string>
		<key>&gt;&gt;</key>
		<string>gg</string>
		<key>&gt;_</key>
		<string>geq</string>
		<key>^</key>
		<string>wedge</string>
		<key>oo</key>
		<string>infty</string>
		<key>~</key>
		<string>sim</string>
		<key>~~</key>
		<string>approx</string>
		<key>±</key>
		<string>pm</string>
		<key>×</key>
		<string>times</string>
		<key>…</key>
		<string>cdots</string>
		<key>∂</key>
		<string>patitial</string>
		<key>∇</key>
		<string>nabla</string>
		<key>∝</key>
		<string>propto</string>
		<key>∫</key>
		<string>int</string>
		<key>≠</key>
		<string>neq</string>
		<key>≡</key>
		<string>equiv</string>
		<key>≪</key>
		<string>ll</string>
		<key>≫</key>
		<string>gg</string>
		<key>〜</key>
		<string>sim</string>
	</dict>
	<key>Others</key>
	<dict>
		<key>no</key>
		<string>notag</string>
	</dict>
</dict>
</plist>
