<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backslash</key>
	<string>\</string>
	<key>beginText</key>
	<string>\begin</string>
	<key>bibliographyCommand</key>
	<string>\bibliography</string>
	<key>captionText</key>
	<string>\caption</string>
	<key>endText</key>
	<string>\end</string>
	<key>figEnvBlock</key>
	<string>\begin{figure}[htbp]
\centering
$1
\end{figure}
</string>
	<key>hline</key>
	<string>\hline</string>
	<key>incGraphicBlock</key>
	<string>\includegraphics[width = 0.8\linewidth]{$1}
\caption{}
\label{$2}</string>
	<key>incGraphicCommand</key>
	<string>\includegraphics</string>
	<key>includeCommand</key>
	<string>\include</string>
	<key>inputCommand</key>
	<string>\input</string>
	<key>itemHead</key>
	<string>\item</string>
	<key>labelText</key>
	<string>\label</string>
	<key>tableBegin</key>
	<string>\begin{table}[http]
\caption{}
\label{}
\begin{center}
\begin{tabular}{$1}</string>
	<key>tableEnd</key>
	<string>\end{tabular}
\end{center}
\end{table}</string>
	<key>tabularEnvBlock</key>
	<string>$1\begin{tabular}{$2}
$3
\end{tabular}</string>
	<key>tblEnvBlock</key>
	<string>\begin{table}[http]
\centering
$1
\end{table}</string>
	<key>texNewLine</key>
	<string>\\</string>
	<key>captionAndLabel</key>
	<string>\caption{}
\label{}
</string>
	<key>yenmark</key>
	<string>¥</string>
</dict>
</plist>
